@tailwind base;
@tailwind components;
.fade-enter {
  opacity: 0.01;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
@tailwind base;
@tailwind components;
body {
  font-family: "Roboto", sans-serif;

  @apply dark:bg-main_dark overflow-hidden;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.keyboard-btn {
  @apply rounded-md  bg-key_light dark:bg-key_dark dark:text-white lg:text-xl md:text-lg text-sm lg:p-4  md:p-3 p-2  font-semibold text-key_light cursor-pointer;
}
.letter-container {
  @apply grid grid-cols-5 gap-1.5 w-full;
}
.cell {
  @apply rounded-md bg-cell_default dark:bg-cell_dark aspect-square text-3xl uppercase md:text-4xl font-extrabold text-white flex items-center justify-center;
}

.cell-true {
  @apply bg-cell_true dark:bg-cell_true cell-animation;
}
.cell-false {
  @apply bg-cell_false dark:bg-key_dark_false cell-animation;
}
.cell-false-position {
  @apply bg-cell_false_position dark:bg-cell_dark_false_position cell-animation;
}

.rotate-x {
  transition-delay: 1000ms;
  transition: transform 2s ease;
  transform: rotateX(1turn);
}
.shake {
  animation: shake 150ms 2 linear;
}

.cell-animation {
  animation: cell 0.6s;
}
@keyframes cell {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@tailwind utilities;
